node_modules/

specificatie/genereervariant/.swagger-codegen
specificatie/genereervariant/.swagger-codegen-ignore
specificatie/genereervariant/README.md

specificatie/gba-genereervariant/.swagger-codegen
specificatie/gba-genereervariant/.swagger-codegen-ignore
specificatie/gba-genereervariant/README.md