openapi: 3.0.0
info:
  title: Reisdocumenten
  description: |
    API voor het raadplegen van reisdocumenten uit de GBA en RNI.
  contact:
    url: https://github.com/VNG-Realisatie/Haal-Centraal-Reisdocumenten-bevragen
  license:
    name: European Union Public License, version 1.2 (EUPL-1.2)
    url: https://eupl.eu/1.2/nl/
  version: 1.0.0
servers:
- url: https://www.haalcentraal.nl/haalcentraal/api/brp
  description: |
    APILAB testserver
tags:
- name: Reisdocumenten
paths:
  /reisdocumenten/{reisdocumentnummer}:
    get:
      tags:
      - Reisdocumenten
      summary: Raadpleeg een reisdocument
      description: |
        Raadpleeg een Reisdocument.
      operationId: GetReisdocument
      parameters:
      - name: reisdocumentnummer
        in: path
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 9
          type: string
      responses:
        "200":
          description: Zoekactie geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ReisdocumentHal'
        "400":
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
        "401":
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "404":
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5
                title: Opgevraagde resource bestaat niet.
                status: 404
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
        "406":
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
        "500":
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        "503":
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
        default:
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
components:
  schemas:
    Reisdocument:
      type: object
      properties:
        aanduidingInhoudingOfVermissing:
          $ref: '#/components/schemas/AanduidingInhoudingVermissingReisdocumentEnum'
        reisdocumentnummer:
          title: Reisdocumentnummer
          maxLength: 9
          type: string
          description: |
            Het nummer van het Nederlandse reisdocument.
          example: "546376728"
        autoriteitAfgifte:
          $ref: '#/components/schemas/Waardetabel'
        datumEindeGeldigheid:
          $ref: '#/components/schemas/DatumOnvolledig'
        datumInhoudingOfVermissing:
          $ref: '#/components/schemas/DatumOnvolledig'
        datumUitgifte:
          $ref: '#/components/schemas/DatumOnvolledig'
        soortReisdocument:
          $ref: '#/components/schemas/Waardetabel'
        geheimhoudingPersoonsgegevens:
          title: Indicatie geheim
          type: boolean
          description: |
            Een aanduiding die aangeeft dat gegevens wel of niet verstrektmogen worden. Indien true: op verzoek van deze persoon is het verstrekken van gegevens over deze persoon aan bepaalde derden niet toegestaan.
        inOnderzoek:
          $ref: '#/components/schemas/ReisdocumentInOnderzoek'
      description: |
        Een document dat nodig is voor reizen naar het buitenland.
        * **datumEindeGeldigheid** : de datum waarop het reisdocument niet meer geldig is.
        * **datumInhoudingOfVermissing**: de datum waarop het reisdocument is vermist, ingehouden, ingeleverd, of van rechtswege is vervallen.
        * **datumUitgifte** : de datum waarop het reisdocument is uitgegeven.
        * **autoriteitAfgifte** : geeft aan welke autoriteit het reisdocument heeft verstrekt.
        * **aanduidingInhoudingOfVermissing** : geeft aan dat het reisdocument is vermist, ingehouden, ingeleverd, dan wel van rechtswege is vervallen.
        * **soortReisdocument** : geeft aan welk Nederlands reisdocument is verstrekt.
    ReisdocumentHal:
      allOf:
      - $ref: '#/components/schemas/Reisdocument'
      - properties:
          _links:
            $ref: '#/components/schemas/ReisdocumentLinks'
    ReisdocumentLinks:
      type: object
      properties:
        self:
          $ref: '#/components/schemas/HalLink'
        ingeschrevenPersoon:
          $ref: '#/components/schemas/HalLink'
    AanduidingInhoudingVermissingReisdocumentEnum:
      type: string
      description: |
        Waarden voor de aanduiding inhouding of vermissing van een Nederlands reisdocument zijn:
        * `ingehouden_of_ingeleverd` - I
        * `vermist` - V
        * `rechtswege` - R
        * `niet_in_bezit_van` - N
      enum:
      - ingehouden_of_ingeleverd
      - vermist
      - rechtswege
      - niet_in_bezit_van
    ReisdocumentInOnderzoek:
      type: object
      properties:
        aanduidingInhoudingOfVermissing:
          type: boolean
        autoriteitAfgifte:
          type: boolean
        datumEindeGeldigheid:
          type: boolean
        datumInhoudingOfVermissing:
          type: boolean
        datumUitgifte:
          type: boolean
        reisdocumentnummer:
          type: boolean
        soortReisdocument:
          type: boolean
        datumIngangOnderzoek:
          $ref: '#/components/schemas/DatumOnvolledig'
      description: |
        Geeft aan welke gegevens in onderzoek zijn. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-Reisdocumenten-bevragen/blob/v1.0.0/features/in_onderzoek.feature)
    BadRequestFoutbericht:
      allOf:
      - $ref: '#/components/schemas/Foutbericht'
      - type: object
        properties:
          invalidParams:
            type: array
            description: Foutmelding per fout in een parameter. Alle gevonden fouten
              worden één keer teruggemeld.
            items:
              $ref: '#/components/schemas/InvalidParams'
    Foutbericht:
      type: object
      properties:
        type:
          type: string
          description: Link naar meer informatie over deze fout
          format: uri
        title:
          type: string
          description: Beschrijving van de fout
        status:
          type: integer
          description: Http status code
        detail:
          type: string
          description: Details over de fout
        instance:
          type: string
          description: Uri van de aanroep die de fout heeft veroorzaakt
          format: uri
        code:
          minLength: 1
          type: string
          description: Systeemcode die het type fout aangeeft
      description: Terugmelding bij een fout. JSON representatie in lijn met [RFC7807](https://tools.ietf.org/html/rfc7807).
    InvalidParams:
      type: object
      properties:
        type:
          type: string
          format: uri
          example: https://www.vng.nl/realisatie/api/{major-versie}/validaties/integer
        name:
          type: string
          description: Naam van de parameter
          example: verblijfplaats__huisnummer
        code:
          minLength: 1
          type: string
          description: Systeemcode die het type fout aangeeft
          example: integer
        reason:
          type: string
          description: Beschrijving van de fout op de parameterwaarde
          example: Waarde is geen geldige integer.
      description: Details over fouten in opgegeven parameters
    Waardetabel:
      type: object
      properties:
        code:
          type: string
          example: "6030"
        omschrijving:
          type: string
          example: Nederland
    DatumOnvolledig:
      type: object
      properties:
        dag:
          maximum: 31
          minimum: 1
          type: integer
          description: Als de dag van de datum bekend is wordt dit element gevuld,
            ook als de volledige datum bekend is.
          example: 3
        datum:
          type: string
          description: Als de volledige datum bekend is wordt de datum gevuld die
            in de date definitie past.
          format: date
          example: 1989-05-03
        jaar:
          maximum: 9999
          type: integer
          description: Als het jaar van de datum bekend is wordt dit element gevuld,
            ook als de volledige datum bekend is.
          example: 1989
        maand:
          maximum: 12
          minimum: 1
          type: integer
          description: Als de maand van een datum bekend is wordt dit element gevuld,
            ook als de volledige datum bekend is.
          example: 5
      description: Gegevens over de datums die mogelijk niet volledig zijn.
    HalLink:
      required:
      - href
      type: object
      properties:
        href:
          $ref: '#/components/schemas/Href'
        templated:
          type: boolean
        title:
          type: string
          description: Voor mens leesbaar label bij de link
      description: De Link Object zoals gespecificeerd in https://tools.ietf.org/html/draft-kelly-json-hal-08#section-5;
        Deze link kan als templated link worden aangeboden. [URI-templating is hier
        beschreven](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/uri-templating.feature).
    Href:
      type: string
      example: https://datapunt.voorbeeldgemeente.nl/api/v{major-versie}/resourcename/{resource-identificatie}
  headers:
    api_version:
      schema:
        type: string
        description: Geeft een specifieke API-versie aan in de context van een specifieke
          aanroep.
        example: 1.0.0
    warning:
      schema:
        type: string
        description: zie RFC 7234. In het geval een major versie wordt uitgefaseerd,
          gebruiken we warn-code 299 ("Miscellaneous Persistent Warning") en het API
          end-point (inclusief versienummer) als de warn-agent van de warning, gevolgd
          door de warn-text met de human-readable waarschuwing
        example: '299 https://service.../api/.../v1 "Deze versie van de API is verouderd
          en zal uit dienst worden genomen op 2018-02-01. Raadpleeg voor meer informatie
          hier de documentatie: https://omgevingswet.../api/.../v1".'
