# coding: utf-8

"""
    Reisdocumenten

    API voor het ontsluiten van gegevens van reisdocumenten uit de GBA en RNI.  # noqa: E501

    The version of the OpenAPI document: 1.0.0
    Generated by: https://openapi-generator.tech
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from openapi_client.api_client import ApiClient
from openapi_client.exceptions import (  # noqa: F401
    ApiTypeError,
    ApiValueError
)


class ReisdocumentenApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def reisdocumenten_reisdocumentnummer(self, reisdocumentnummer, **kwargs):  # noqa: E501
        """reisdocumenten_reisdocumentnummer  # noqa: E501

        Het ophalen van de gegevens van een REISDOCUMENT op basis van het reisdocumentnummer.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.reisdocumenten_reisdocumentnummer(reisdocumentnummer, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str reisdocumentnummer: Het nummer van het verstrekte Nederlandse reisdocument. (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: ReisdocumentHal
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.reisdocumenten_reisdocumentnummer_with_http_info(reisdocumentnummer, **kwargs)  # noqa: E501

    def reisdocumenten_reisdocumentnummer_with_http_info(self, reisdocumentnummer, **kwargs):  # noqa: E501
        """reisdocumenten_reisdocumentnummer  # noqa: E501

        Het ophalen van de gegevens van een REISDOCUMENT op basis van het reisdocumentnummer.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.reisdocumenten_reisdocumentnummer_with_http_info(reisdocumentnummer, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str reisdocumentnummer: Het nummer van het verstrekte Nederlandse reisdocument. (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(ReisdocumentHal, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'reisdocumentnummer'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method reisdocumenten_reisdocumentnummer" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'reisdocumentnummer' is set
        if self.api_client.client_side_validation and ('reisdocumentnummer' not in local_var_params or  # noqa: E501
                                                        local_var_params['reisdocumentnummer'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `reisdocumentnummer` when calling `reisdocumenten_reisdocumentnummer`")  # noqa: E501

        if self.api_client.client_side_validation and ('reisdocumentnummer' in local_var_params and  # noqa: E501
                                                        len(local_var_params['reisdocumentnummer']) > 9):  # noqa: E501
            raise ApiValueError("Invalid value for parameter `reisdocumentnummer` when calling `reisdocumenten_reisdocumentnummer`, length must be less than or equal to `9`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'reisdocumentnummer' in local_var_params:
            path_params['reisdocumentnummer'] = local_var_params['reisdocumentnummer']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json', 'application/problem+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/reisdocumenten/{reisdocumentnummer}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ReisdocumentHal',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)
